.productHeading {
  font-family: monospace;
  font-weight: bold;
}

.logoDiv {
  display:flex;
  height: 200px;
}

.headingDiv {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-grow: 1;
  justify-content: right;
  gap: 7%;

}

.headingTextSection {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
}

.purchaseOptions {

  display :flex;
  align-items: flex-start;
  flex: 1;
  padding-left: 300px;
  padding-top: 50px;
  gap:15%;

}

.individualPurchaseOptionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #000;
  width: 30%;
  height: 47%;
}

.productImage{
  width:100%;
}

.productTitle{
  color:red;
}

.productBuyButton{
  height: 75px;
  width: 80%;
}

.purchaseDisclaimer{
  font-style: italic;
}

.productDescription{
  text-align: center;
}

.belowHeading {

  display: flex;
  width: 100vw;
  flex-grow: 1;
  justify-content: center;
}

.sidebarSection {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  align-items: center;
  width: 15vw;
  min-width: 192px; /*maximum iamge pixel size*/
}

.sidebarClass {
  display: flex;
  padding-right: 3%;
}


.appContainer {
  width: 100vw;
  min-width: 100%;
}